/* PC */
@media screen and (min-width: 1024px) {
}

/* TABLET && MOBILE */
@media screen and (max-width: 1023px) {
  .btn {
    padding: 16px 16px;
  }

  #nav .subnav a {
    padding: 5px 12px;
  }

  .contact-info {
    line-height: 2;
  }

  .contact-form .form-control {
    padding: 15px 9px;
  }

  #footer .socails-list {
    font-size: 32px;
  }

  #footer .socails-list a {
    padding: 0px 8px;
  }

  #footer .copyright a {
    padding: 12px 0;
    display: inline-block;
  }
}

/* TABLET */
@media screen and (min-width: 740px) and (max-width: 1023px) {
}

/* MOBILE */
@media screen and (max-width: 739px) {
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }

  .s-mt-8 {
    margin-top: 8px !important;
  }

  #header {
    overflow: hidden;
  }

  #header .search-button {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #header .mobile-menu-btn:hover {
    background-color: #ccc;
  }

  #header .mobile-menu-btn:hover .menu-icon {
    color: #000;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav li a {
    padding: 1px 24px;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: #fff;
    padding: 5px 40px;
  }

  #content .member-img {
    width: 60%;
  }

  .contact-form {
    margin-top: 32px;
  }
}
